<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <div class="scart-head">
        <h1><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" style="fill: rgb(11, 26, 77);"><path d="M21.822 7.431A1 1 0 0 0 21 7H7.333L6.179 4.23A1.994 1.994 0 0 0 4.333 3H2v2h2.333l4.744 11.385A1 1 0 0 0 10 17h8c.417 0 .79-.259.937-.648l3-8a1 1 0 0 0-.115-.921z"></path><circle cx="10.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle></svg>Scart</h1>
        
    </div>
</body>
<script>
     setTimeout(() => {
            window.location.href = "/user/scart";
        }, 1000);
</script>
<style>
    body{
        background-color: yellow;
    }
    h1{
        display: flex;
        
        align-items: center;
        justify-content: center;
        color: rgb(13, 13, 100);
    }
    .scart-head{
        padding-top: 300px;
    }
</style>
</html>