<!DOCTYPE html>
<html>
<head>
    <title>User Login</title>
    <!-- <link rel="stylesheet" href="/project s/public/style.css"> -->
   
</head>
<body>
    <div class="container">
    <h2>User Login</h2>
    <form action="/user/login" method="post">
        <span class="error"> <p4><%= errors.email || " " %></span>
        <input  name="email" placeholder="Email" >
        <span class="error"> <p4><%= errors.password || " " %></span>
        <input  name="password" placeholder="Password" ><br>
        <button type="submit">Login</button>
        <center><p>Don't have an account?<a href="/user/register">Register now!</a></p></center>
        <center><p> Forget your password<a href="/user/forget-password">Rest it?</a></p></center>
    </form>
</div>
</body>
<style>
    body {
font-family: Arial, sans-serif;
margin: 50px;
background-color: rgb(28, 28, 29);
}

.container{
height: 400px;
width: 500px;
background-color: rgb(236, 236, 240);
display: flex;
flex-direction: column;
margin: auto;
border-radius:20px ;
}
h2 {
text-align: center;
}

form {
display: flex;
flex-direction: column;
width: 300px;
margin: auto;
}

input, button {
margin-bottom: 10px;
padding: 10px;
}

button {
background-color: #4CAF50;
color: rgb(236, 236, 240);
border: none;
cursor: pointer;
}
.error{
color: rgb(255, 22, 22);
font-size: small;
}
 </style>
</html>